<% @page_title = "Pages" %> 

<%= link_to("<< Back to List", {:action => 'index',:subject_id => @subject.id}, :class => 'back-link') %>

<div class="pages destory">
  <h2>Destroy Page</h2>

  <%= form_for(:page, :url => {:action => 'destroy', :id => @page.id, :subject_id => @subject.id}) do |f| %>

    <p>Are you sure you want to destroy this page?</p>

    <h2>
    	<%= @page.name %>
    </h2>

    <div class="form-buttons">
      <%= submit_tag("Destroy Page") %>
    </div>

  <% end %>
</div>
